<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <title>Check it out!</title>
    </head>
    <body>
        <div class="container" align="center">
          <h3>Congratulations! The results for your search of the word "{{ usr_word.displayWord }}" can be found below!</h3>
          <p>
              <blockquote>
                  {{ usr_string.displayWord }}
              </blockquote>
          </p>

          <p>
            There appears to be {{ usr_word.countRepeats }} instances of the word "{{ usr_word.displayWord }}" in your text. I dun good boss?
          </p>
          <p>
            <a href="/" class="btn btn-primary btn-xs" role="button">Find another word!</a>
          </p>
        </div>
    </body>
</html>
